/* img{
    width: 100px;
    height: 100px;
}
.bigimage{
    width: 60%;
    height: 60%;
    align-items: center;
    
}
.modal{
    display: none;
    align-items: center;
    position: absolute;
    margin-top: -10%;
    width: 500px;
    height: 500px;
    margin-left: 30%;
   
    
} */